webservice/webservice-client/src/main/java/com/johnny/webservice/client/axis2/helloworld/helloworld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://helloworld.axis2.webservice.johnny.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	targetNamespace="http://helloworld.axis2.webservice.johnny.com">
	<wsdl:documentation>MyHelloWS</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://helloworld.axis2.webservice.johnny.com">
			<xs:element name="sayHello">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="args0" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sayHelloResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sayHelloRequest">
		<wsdl:part name="parameters" element="ns:sayHello" />
	</wsdl:message>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part name="parameters" element="ns:sayHelloResponse" />
	</wsdl:message>
	<wsdl:portType name="MyHelloWSPortType">
		<wsdl:operation name="sayHello">
			<wsdl:input message="ns:sayHelloRequest" wsaw:Action="urn:sayHello" />
			<wsdl:output message="ns:sayHelloResponse" wsaw:Action="urn:sayHelloResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MyHelloWSSoap11Binding" type="ns:MyHelloWSPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="urn:sayHello" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MyHelloWSSoap12Binding" type="ns:MyHelloWSPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="sayHello">
			<soap12:operation soapAction="urn:sayHello" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MyHelloWSHttpBinding" type="ns:MyHelloWSPortType">
		<http:binding verb="POST" />
		<wsdl:operation name="sayHello">
			<http:operation location="sayHello" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MyHelloWS">
		<wsdl:port name="MyHelloWSHttpSoap11Endpoint" binding="ns:MyHelloWSSoap11Binding">
			<soap:address
				location="http://localhost:8082/axis2/services/MyHelloWS.MyHelloWSHttpSoap11Endpoint/" />
		</wsdl:port>
		<wsdl:port name="MyHelloWSHttpSoap12Endpoint" binding="ns:MyHelloWSSoap12Binding">
			<soap12:address
				location="http://localhost:8082/axis2/services/MyHelloWS.MyHelloWSHttpSoap12Endpoint/" />
		</wsdl:port>
		<wsdl:port name="MyHelloWSHttpEndpoint" binding="ns:MyHelloWSHttpBinding">
			<http:address
				location="http://localhost:8082/axis2/services/MyHelloWS.MyHelloWSHttpEndpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
